.themain{
    background-color: rgb(188, 34, 34);
    width: 30%;
    margin: 5rem 5rem;
    font-size: x-large;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: content-box;
    border: 5px black;
    border-width: 5rem;

    
}

.second{
    background-color: rgb(153, 147, 147);
        width: 410px;
        border: .1rem  solid black;
        padding: 30px;
        margin: 20px;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
}

.li {
    margin: .5rem .5rem;
    margin-bottom: 5px;
    color: chartreuse;
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
}